* {
  box-sizing: border-box;
  overflow: hidden;
  color: white;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#fire-vid,
#beach-vid,
#wind-vid,
#rain-vid {
  z-index: -5;
}

.all {
  position: relative;
  margin: 0;
  padding: 0;
  background: none;
  width: calc(100% - 0.4px);
  height: calc(100% - 0.4px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left,
.center,
.right {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

.left {
  margin: 25vh 0;
  width: 25%;
  padding: 0 10px 0 5px;
}

.center {
  margin: 20vh 0;
  background: none;
  width: 50%;
  padding: 0 10px 0 0;
}

.right {
  margin: 20vh 0;
  background: none;
  width: 25%;
}

.two-minutes,
.five-minutes,
.ten-minutes,
.custom-minutes,
.visual-timer,
#timer-display,
#timer-button,
.rain,
.beach,
.fire,
.wind {
  margin: 0;
  padding: 0;
  height: 33.333vh;
  align-items: center;
  text-align: center;
  font: bold 3rem center;
}

.two-minutes,
.five-minutes,
.ten-minutes,
.custom-minutes {
  height: 10vh;
}

.visual-timer {
  height: 50vh;
}
#timer-display {
  padding-top: 20px;
  height: 10vh;
  font-weight: 100;
}

button,
input {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  opacity: 0.9;
  color: white;
}

::placeholder {
  color: white;
}

.left button {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 1.5rem;
  opacity: 0.8;
  border: 0.2px white solid;
}

.center {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.right button {
  width: 100%;
  height: 100%;
  display: block;
}

.center img {
  display: block;
  width: 100%;
  max-width: 330px;
  max-height: 330px;
  align-items: center;
}
.timer {
  padding-top: 20px;
}
button:hover {
  transition: 0.5s smooth;
  border: black 0.2px solid;
  opacity: 1;
}

.icons {
  height: 90px;
  width: 90px;
}

header {
  padding-top: 30px;
  position: fixed;
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  text-align: center;
}

span {
  font-weight: 600;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  color: white;
}

input {
  font-size: 1.5rem;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    font: white 1.5rem;
    padding: 0;
    margin: 0 10vw;
    width: 80vw;
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  body {
    font: white 1.5rem;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  .icons {
    width: 60px;
    height: 60px;
  }
  .left button,
  .left input {
    font-size: 1.2rem;
  }
  .center img {
    max-width: 250px;
    max-height: 250px;
  }
}
